# CLI 테스트 결과

`snyk test`를 실행하면 CLI에서 즉시 취약점 및 라이선스 문제 목록이 표시됩니다. 목록은 다음을 포함합니다:

- 심각도
- 문제에 대한 상세 설명
- 관련 사항인 경우 각 문제에 대한 더 구체적인 세부 정보 링크

테스트한 프로젝트의 언어에 따라 수동으로 취약점을 어떻게 수정할 수 있는지에 대한 자세한 내용을 포함한 수정 권고사항도 볼 수 있습니다.

자세한 정보는 다음을 참조하십시오:
- [Snyk CLI](../)
- [Snyk CLI 시작하기](../getting-started-with-the-snyk-cli.md)
- [Snyk Code CLI 결과 보기](snyk-cli-for-snyk-code/view-snyk-code-cli-results.md)
- [Snyk Container CLI 테스트 결과 이해하기](snyk-cli-for-snyk-container/understand-snyk-container-cli-results.md)
- [IaC CLI 테스트 출력 이해하기](snyk-cli-for-iac/understand-the-iac-cli-test-results/)